<header class="jumbotron subhead" id="overview">
	<h1>Hur funkar det här?</h1>    
	<p class="lead"><a href="/">Tillbaka</a> - Teknik, sensorer, vatten...</p>
</header>

<div class="row">
	<div class="span8">
		<h3>Kanan</h3>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>        
		<h3>Sensorer</h3>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>        
		<h3>Internet</h3>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>
		<p>
			Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna.
		</p>        
	</div>         
	<div class="span4">
		<dl>
			<dt>Nedlagt arbete</dt>
			<dd>~ 900 arbetstimmar</dd>
			<dt>Kapacitet</dt>
			<dd>120 personer/h eller 1400 minutliter :)</dd>
			<dt>Annan statistik</dt>
			<dd>Datapunkt 1</dd>
			<dt>Annan statistik</dt>
			<dd>Datapunkt 2</dd>
			<dt>Annan statistik</dt>
			<dd>Datapunkt 3</dd>
		</dl>
	</div>
</div>