<% list.each do |data| %>
  <tr>
    <td><%= data.total_ride_time %></td>
    <td><%= (data.temperature.to_f/1000.0) %>°C</td>   
		<td><%= data.created_at.strftime("%H:%M:%S - %a")%></td>
 </tr>    
<% end %>
