<header class="jumbotron subhead" id="overview">
	<h1>Vattenkanan</h1>    
	<p class="lead">Vatten, fart och så vidare...</p>
</header>

<div class="row">
	<div class="span4">
		<h3>Senaste Åk</h3>
		<table class="table-striped table">      
		  <tbody>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>
					<td>12:34:06</td>
		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>
					<td>12:34:06</td>
		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>   
					<td>12:34:06</td>
		   </tr>
		  </tbody>
		</table>
	</div>
	<div class="span4">
		<h3>Topplista</h3>
		<table class="table-striped table">      
		  <tbody>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>
					<td>12:34:06</td>
		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>
					<td>12:34:06</td>
		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>   
					<td>12:34:06</td>
		   </tr>
		  </tbody>
		</table>
	</div>
	<div class="span4">
		<h3>Metadata</h3>
		<table class="table-striped table">      
		  <tbody>
		    <tr>
		      <td>Vattentemp</td>
		      <td>37,7°</td>

		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>
		    </tr>
		    <tr>
		      <td>25:23:00</td>
		      <td>37,7°</td>   
		   </tr>
		  </tbody>
		</table>
	</div>           
	<div class="span12">
		<ul class="unstyled">
			<li>
				<img src="/uploads/Vässarö-12.jpg" alt="Funny picture" />
			</li>
		</ul> 
	</div>
</div>