<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="10">
	<title>Vattenruschkanan · Vässarö · Boomerang 2012</title>
</head>

<body>
	<div class="container">
		<img src="<%= @data.photo.url %>" />
	</div><!-- /container -->
	</body>
</html>